img {
    /* Temporary fix */
    width: 50%;
    padding: 50px;
}

h1 {
    text-align: center;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: pink;
    padding: 10px 15px;
    border: 2px solid green;
}

a:hover, a:active {
    background-color: red;
}